@import 'src/assets/styles/base/baseExport';

.keyValueInput {
  width: 100vw;
  color: $white;
  font-size: 22px;
  background: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

